body {
	overflow-x: hidden;
}

.title-header{
	font-family: 'Yellowtail', cursive;
	font-size: 50px;
	font-weight: bolder;
	color: white;
}

.bg-header {
	background-image: url('https://cdn2.fptshop.com.vn/unsafe/1920x0/filters:format(webp):quality(75)/Background_gia_online_D_5495023a1c.png');
}

.cart-badge {
	position: absolute;
	top: -8px;
	right: -8px;
	background: red;
	color: white;
	font-size: 10px;
	padding: 2px 5px;
	border-radius: 50%;
}

.nav-link:hover {
	border-bottom: white solid 2px;
	transition: all 200ms linear 0s;
}

.category-box {
	width: 150px;
	padding: 20px;
	border-radius: 15px;
	background-color: #f8f9fa;
	text-align: center;
	margin: 10px;
	transition: transform 0.3s;
}

.category-box:hover {
	transform: translateY(-5px);
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.category-box img {
	width: 100px;
	height: auto;
	margin-bottom: 10px;
}

.category-title {
	font-weight: 500;
	color: #333;
}

.category-title:hover {
	color: #007bff;
}

.mega-menu {
	width: 1000px;
	left: 0;
	right: 0;
	margin: auto;
}

@media (max-width: 992px) {
	.mega-menu {
		width: 100%;
	}
}

.mega-menu {
	min-width: 100%;
}

.css_navbar {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.css_navbar a {
	color: white;
	text-decoration: none;
	padding: 5px 10px;
	text-align: center;
	justify-items: center;
}

.css_navbar a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	color: yellow;
}

/* Sản phẩm */
.product-card {
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	/* overflow: hidden; */
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.ribbon {
	position: absolute;
	top: 10px;
	left: 10px;
	background: #d10024;
	color: white;
	padding: 2px 8px;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
}

.installment {
	background: #d10024;
	color: white;
	padding: 2px 8px;
	border-radius: 3px;
	font-size: 12px;
	display: inline-block;
}

.badge-guarantee {
	background-color: #c1440e;
	color: white;
	padding: 2px 8px;
	font-size: 12px;
	border-radius: 3px;
}

.price-old {
	text-decoration: line-through;
	color: gray;
}

.action-icon {
	background: #f5f5f5;
	border-radius: 50%;
	padding: 5px;
	margin-left: 5px;
	/* cursor: pointer; */
}

.info-box {
	background-color: #f3f3f3;
	padding: 8px;
	font-size: 14px;
	border-radius: 10px;
	margin-top: 5px;
}

.card {
	position: relative;
}


.badge-guarantee {
	position: absolute;
	top: 8px;
	left: 8px;
	background-color: #d10024;
	color: white;
	padding: 2px 6px;
	font-size: 13px;
	border-radius: 3px;
	font-weight: bold;
}
